{
  "comma-dangle": [
    "error",
    {
      "arrays": "never",
      "objects": "never",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }
  ],
  "extends": "standard",
  "rules": {
      "semi": [1, "always"]
  }

}
